<html>
  <body ng-app="lost-found"> 
		<div>
			<h1>Search Results</h1>
			<ul>
			<% for(var i=0; i<searchResults.length; i++) {%>
				 <li><%= searchResults[i].title %>  Category: <%= searchResults[i].category %>  Date: <%= searchResults[i].foundDate %>   Lat: <%= searchResults[i].foundLocation.lat %>   Lng: <%= searchResults[i].foundLocation.lng %>   Pickup: <%= searchResults[i].pickupDetails %>  Retreived: <%= searchResults[i].retreived %></li>
			<% } %>
			</ul>

			<form action="/lostSearch" method="post">
				<input type="submit"></input>
			</form>
		</div>
  </body>
</html>
